@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello World! <span style="font-family: cursive; font-style: italic; color: red;">This is index page</span></p>
</div>
